<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz16Oyk-unBegCE9FISaKXf45j3UKuqb0</string>
	<key>GCM_SENDER_ID</key>
	<string>586029158060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickup.basketball</string>
	<key>PROJECT_ID</key>
	<string>pickup-basketball-7d716</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-basketball-7d716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586029158060:ios:b919a11e5a5a8d7162d909</string>
</dict>
</plist>